<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>{{ install_engine_service_id }}</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{ install_engine_path }}/com.macstadium.orka-engine.server</string>
  </array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>LOG_FILE</key>
		<string>{{ ansible_env.HOME }}/.local/state/orka/logs/{{ install_engine_service_id }}.log</string>
	</dict>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
