<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>{{ install_engine_service_id }}</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{ install_engine_path }}/com.macstadium.orka-engine.server</string>
  </array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>ORKA_ENGINE_LICENSE_KEY</key>
		<string>{{ install_engine_license_key }}</string>
		<key>LOG_FILE</key>
		<string>{{ install_engine_log_file }}</string>
		<key>XDG_DATA_HOME</key>
		<string>{{ install_engine_data_home }}</string>
		<key>XDG_STATE_HOME</key>
		<string>{{ install_engine_state_home }}</string>
		<key>ORKA_ENGINE_SOCK</key>
		<string>{{ install_engine_socket_path }}</string>
		<key>ORKA_ENGINE_VIRTUAL_MACHINE_USER</key>
		<string>{{ install_engine_vm_user }}</string>
	</dict>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
