# Semaphore admin credentials
SEMAPHORE_ADMIN=admin
SEMAPHORE_ADMIN_PASSWORD=changeme
SEMAPHORE_ADMIN_NAME=Admin
SEMAPHORE_ADMIN_EMAIL=admin@example.com

# Encryption key for secrets stored in Semaphore
# Generate with: head -c32 /dev/urandom | base64
SEMAPHORE_ACCESS_KEY_ENCRYPTION=""

# Port to expose Semaphore UI on (default: 3000)
SEMAPHORE_PORT=3000

# OCI Credentials
OCI_USERNAME=user
OCI_PASSWORD=password

# Citrix
# a link to the installer that can be publicly accessed
# for instance, via an S3 bucket with a presigned URL
CITRIX_INSTALLER_URL=""

# A suffix for the hostname of each VM.
# A VM named "my-vm" will have a hostname of "my-vm.vdi.internal"
# when using this suffix. If this value is empty, the
# hostname would just be "my-vm"
HOSTNAME_SUFFIX=".vdi.internal"

# This is the key used to SSH into a given bare metal Mac
# Setting this value makes it easier when running configure_semaphore.py
VDI_SSH_KEY=""
